@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

    {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'inter' !important;
}

.nav-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #0D0A19;
    margin-left: 20px;

}

.signUp {
     color: #9A9EA7;
}

.signUp img {
    background:#f5f6f7;
    border-radius: 8px;
    width: 30px;
    height: 25px;
    padding: 5px 8px;
    margin-right: 5px;
}