 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 body {
     font-family: 'inter' !important;
 }

 /*=================== Navbar Started from here ================= */

 .nav-link {
     font-family: 'Inter';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: -0.1px;
     color: #0D0A19;
     margin-left: 20px;

 }

 .nav-link:hover {
     color: #d70000b9;
 }

 .signUp {
     color: #9A9EA7;
 }

 .signUp:hover {
     color: #7963F0;
 }

 .signUp i {
     background: #f5f6f7;
     border-radius: 8px;
     width: 30px;
     height: 25px;
     padding: 5px 8px;
     margin-right: 3px;
     font-size: 20px;
     font-weight: 900;
 }

 /*=================== Navbar Ended from here ================= */

 /*================= Section-1 Start From Here ===================== */
 .section-1 {
     background-image: url("../img/Rectangle.png");
     width: 100%;
     height: 560px;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .section-1 h1 {
     font-weight: 700;
     font-size: 64px;
     line-height: 74px;
     text-align: center;
     letter-spacing: -0.304762px;
     color: #FFFFFF;
     padding-top: 149px;
 }

 .section-1P {
     font-weight: 700;
     font-size: 20px;
     line-height: 27px;
     text-align: center;
     color: #FFFFFF;
     margin-top: 20px;
 }

 .TopFooterSection {
     background: #FFFFFF;
     box-shadow: 0px 3px 4px #001eff26;
     border-radius: 8px;
     max-width: 945px;
     height: 80px;
     position: absolute;
     margin: 0px auto;
     top: 590px;
     left: 50%;
     z-index: 99;
     width: 98%;
     transform: translateX(-50%);
 }

 .TopFooterSection p {
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 18px;
     letter-spacing: -0.1px;
     color: #9A9EA7;
     margin-left: 15px;
 }

 .form-select {
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 21px;
     letter-spacing: -0.1px;
     color: #0D0A19;
     border: none;
     margin-top: -10px;
 }

 .without-P {
     margin-top: 30px;
 }

 .HeaderButton {
     background: #7963F0;
     border-radius: 10px;
     margin-top: -12px;
     color: #FFFFFF;
     padding: 8px 15px;
     font-weight: 700;
     font-size: 14px;
     line-height: 21px;
     letter-spacing: -0.1px;
 }

 .HeaderButton i {
     margin-right: 3px;
 }

 .BorderRight {
     border-right: 1px solid #EDE8E9;
     height: 40px;
     margin-top: 10px;
 }

 .someMargin {
     margin-top: 20px;
 }


 /*================= Section-1 Ended From Here ===================== */

 /*================= Section-2 Start From Here ===================== */

 .section-2 {
     margin-top: 120px;
     margin-bottom: 100px;
     margin-left: 220px;
 }

 /*================= Section-2 Ended Here ===================== */

 /*================= Section-3 Started Here ===================== */
 .section-3 {
     margin-bottom: 100px;
 }

 .section-3 h3 {
     font-weight: 700;
     font-size: 28px;
     line-height: 36px;
     letter-spacing: -0.1px;
     color: #0D0A19;
     text-align: center;
     margin-bottom: 50px;
 }

 .section-3 h5 {
     font-weight: 700;
     font-size: 18px;
     line-height: 27px;
     color: #0D0A19;
     margin-top: 5px;
 }

 .section-3 p {
     font-weight: 400;
     font-size: 14px;
     line-height: 21px;
     letter-spacing: -0.1px;
     color: #9A9EA7;
 }

 /*================= Section-3 Ended Here ===================== */




 /* =================== Media Section Start Here ==========================*/
 @media all and (max-width: 767px) {
     .section-1 h1 {
         font-size: 38px;
         line-height: 45px;
     }

     .section-1 p {
         font-size: 16px;
     }

     .TopFooterSection {
         height: 70px;
     }

     .section-2 {
         margin-top: 320px;
     }

     .section-2 img {
         margin-top: 20px;
     }

     /* =================== Media Section Ended Here ==========================*/